body {
  background-color: #EDE4D0;
  overflow: auto;
  font-family: "Questrial", sans-serif;
  color: #6B2737;
}

#wrapper {
  padding: 30px;
}

/* NAV BAR */
header {
  overflow: auto;
  background-color: #E08E45;
  margin: -10px;
  padding: 0 20px;
}

header h2 {
  float: left;
  display: inline;
  padding: 5px;
  font-size: 35px;
}

header a {
  float: right;
  padding: 15px;
  display: inline;
  text-decoration: none;
  margin-top: 30px;
  color: white;
  font-size: 20px;
}

a:hover {
  color: #87441B;
  font-size: 25px;
  margin-top: 24px;
  padding-right: 2px;
}

/* CHAIR IMGS */

#chairs {
  padding-left: 30px;
}

#otherChairs img {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 15%;
}

#mainChair img {
  margin-top: 80px;
  width: 400px;
  height: 420px;
  padding: 1px;
  border-radius: 5%;
}

#mainChair h1 {
  position: absolute;
  top: 180px;
  left: 530px;
}

/* CHAIR TEXT */

#chairInfo {
  position: absolute;
  top: 250px;
  left: 530px;
  font-size: 20px;
}

select {
  position: absolute;
  top: 230px;
  left: 25px;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  width: 170px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
}

button {
  position: absolute;
  top: 277px;
  display: block;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  width: 150px;
  padding: 15px;
  color: white;
  background-color: #6B2737;
  border: 2px solid #6B2737;
}

button:hover {
  color: #6B2737;
  border: 2px solid #6B2737;
  background-color: #BDF7B7;
}

#buy {
  left: 25px;
}

#stores {
  left: 190px;
  width: 160px;
  padding: 15px;
}

option {
  padding: 10px;
  margin: 10px;
}
